<div class="class px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h3>全会員の投稿新着順一覧画面（Home）</h3>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>投稿一覧</h3>
      <!--%= render 'posts/index', posts: @posts %>-->
    </div>
  </div>
</div>