<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', end_user: current_end_user %>
    </div>
    
    <div class='col-md-9'>
      <div class="d-flex align-items-end">
        <%= image_tag 'ic024.png', size: '45x45' %>
        <h4>みんなの投稿</h4>
      </div>
      
      <%= render 'public/posts/index', posts: @posts %>
      <%= paginate @posts %>
      
    </div>
  </div>
</div>