<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', end_user: @end_user %>
    </div>
    <div class='col-md-9'>
      <h4><%= @end_user.name %> さんの投稿一覧</h4>
      
      <%= render 'public/posts/index', posts: @posts %>
      <%= paginate @posts %>
      
    </div>
  </div>
</div>