<div class="container">
  <h3>フォロー中の会員一覧</h3>
  <div class="row justify-content-center">
    <% if @end_users.exists? %>
      <%= render 'public/end_users/index', end_users: @end_users %>
    <% else %><br>
      <p>フォロー中のユーザーはいません。</p>
    <% end %>
  </div>
</div>