<div class="container">
  <h3>フォロワー</h3>
  <div class="row justify-content-center">
    <% if @end_users.exists? %>
      <%= render 'public/end_users/index', end_users: @end_users %>
    <% else %>
      <h5>フォローされているユーザーはいません。</h5>
    <% end %>
  </div>
</div>