<div class='container'>
  <div class='row justify-content-center'>
    <%= image_tag 'cocodo_top.png' %>
  </div>
  
  <div class="row justify-content-center mb-2">
    <h3>ココドウ（cocodo?）とは</h3>
  </div>
  
  <div class="row justify-content-center text-center mb-5">
    <p>
      <strong>「ここどう？」</strong>という観点で、<br>
      行ってよかった場所の写真を共有できる<br>
      旅行専用のSNSサイトです。<br>
      おすすめの旅行先をシェアして、旅行の記録をつけたり、<br>
      実際に行ったひとの写真や感想を参考に<br>
      旅行の行き先探しにお役立てください。
    </p>
  </div>
</div>
