<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/end_users/info', end_user: current_end_user %>
    </div>
    
    <div class='col-md-9'>
      <div class="d-flex align-items-end">
        <%= image_tag '709.png', size: '45x45' %>
        <h4>いいねした投稿</h4>
      </div>
      
      <div class="row">
        <!-- 後ろに.map(&:post)をつけることで、Postと関連付けして取得 -->
        <%= render 'public/posts/index', posts: @favorite_posts.map(&:post) %>
      </div>
      
      <%= paginate @favorite_posts %>

    </div>
  </div>
</div>