@use '~bootstrap/scss/bootstrap';


// サイト全体フォント
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* { 
  font-family: 'Klee One', cursive;
}

.favorite-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.right-button {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  justify-content: center;
}

// 背景画像を表示できるようにする
//body {
//  background-image: url("../images/hoge.jpg");
//}