@use '~bootstrap/scss/bootstrap';

// サイト全体フォント
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* { 
  font-family: 'Klee One', cursive;
}

.square-image {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.info-table td {
  width: 100px;
  word-wrap: break-word; /*テキストがテーブルの幅を超えた場合は改行*/
}

.favorite-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.right-button {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  justify-content: center;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.arrow {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

// 背景画像を表示できるようにする
//body {
//  background-image: url("../images/hoge.jpg");
//}