<header>
  <nav class="navbar navbar-expand-lg navbar-right" style="background-color: #FFE194;">
    <div class="container">
      <a class="navbar-brand" href="/">ココドウ</a>
      
      
      
    </div>
  </nav>
</header>

